body {
  background-color: #272424;
}

.div{
  display: flex;
  justify-content: center;
  margin-top: 350px;
 
}


button {
  margin-right: 20px;
  border: none;
  background-color: snow;
  border-radius: 15px;
}
.rock {
  width: 40px;
 
}
.paper {
  width: 40px;
}
.scissors {
  width: 40px;
}
